body{
    background-color: aliceblue;
}

h1{
    font-weight: bold;
    font-size: 1.7em;
    margin-top: 20px;
    margin-bottom:20px;
}

.navbar{
    background-color: rgb(129, 126, 126);
}

.navbar-brand{
    color: black;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
}

.navbar-brand:hover{
    color: black;
}

.navbar-toggler-icon{
    background-color: rgb(12, 3, 3);
    border: 1px solid;
    border-color: rgb(58, 57, 54);
}

.navbar-toggler-icon:hover{
    background-color: rgb(102, 99, 99);
    border-color: #fff;
}

.nav-link{
    color: black;
    font-size: 1.1em;
}

hr{
    color: black;
}

.nav-link:hover{
    color: black;
    font-weight: bold;

}

.row span{
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    position: relative;
    right: -136px;
    bottom: -3  px;
}

/* .border{
    border: 10px soild;
} */

#div1{
    /* float: left;*/
    /* width: 30%; */
    /* margin-right: 5%; */
    background-color: rgb(129, 126, 126);

}

#div2{
    /* float: left;*/
    /* width: 30%;  */
    background-color: rgb(129, 126, 126);
    
}

#div3{
    /* float: left;*/
    /* width: 30%; */
    /* margin-left: 5%; */
    background-color: rgb(129, 126, 126);
}

.row a{
    font-style: italic;
    color: rgb(7, 7, 88);
    font-weight: bold;
}




